@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

main {
  background-image: url("../images/background.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size:100%
}