<%# 平均点を算出し、round関数で切り上げ %>
評価：<%= @reviews.average(:rating).to_f.round(1) %>
<%# 評価数を星に置き換える %>
 <div class="average-review-rating" data-score=<%= @reviews.average(:rating) %>></div>

<th class="table__col1">総合評価</th>
 <td class="table__col1">  <div class="field" id="star"><% f.label :rating %></div></td>
</tr>
<%= render partial: "items/form_rate", locals: { item: @item } %>