<footer class="bg-warning">
  <div class='container' style='height:100px'>
    <div class='row'>
      <div class='mx-auto'>
        <p class= 'd-flex align-items-center mb-0' style='height:100px'>© 2022 nannou_mikan.</p>
      </div>
    </div>
  </div>
</footer>